*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Young serif", sans-serif;
}

:root {
	--white: hsl(0, 0%, 100%);

	--stone-100: hsl(30, 54%, 90%);
	--stone-150: hsl(30, 18%, 87%);
	--btone-600: hsl(30, 10%, 34%);
	--btone-900: hsl(24, 5%, 18%);

	--brown-800: hsl(14, 45%, 36%);

	--rose-800: hsl(332, 51%, 32%);
	--rose-50: hsl(330, 100%, 98%);
}

main {
	padding: clamp(0rem, -1.429rem + 3.81vw, 2rem);
	background-color: var(--stone-100);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

article {
	display: flex;
	flex-direction: column;
	width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
	border-radius: clamp(0rem, -0.44rem + 1.878vi, 1.25rem);
	background-color: var(--white);
}

figure {
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap:0.5rem;
	padding-bottom: 1rem;
}

.indented {
	padding: 0 1rem;
}

.padded {
	padding: 0.5em 1rem;
}

.preview {
	padding: clamp(0rem, -0.66rem + 2.817vw, 1.875rem)
		clamp(0rem, -0.66rem + 2.817vw, 1.875rem) 0
		clamp(0rem, -0.66rem + 2.817vw, 1.875rem);
	border-radius: clamp(0rem, -0.22rem + 0.939vw, 0.625rem);
}

figcaption,
p {
	font-size: 0.8em;
	font-family: "Outfit", sans-serif;
	color: var(--btone-600);
}

#prep-time {
	width: calc(100% - clamp(0rem, -0.704rem + 3.005vw, 2rem));
	margin: auto;
	background-color: var(--rose-50);
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	border-radius: clamp(0rem, -0.33rem + 1.408vw, 0.938rem);
}

#prep-time h2 {
	font-size: 1.3em;
	font-family: "Outfit", sans-serif;
	color: var(--rose-800);
}

ul,
ol {
	list-style-position: inside;
	color: var(--rose-800);
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style: none;
}

li {
	line-height: 1.1em;
	text-align: justify;
}

span {
	font-family: "Outfit", sans-serif;
	font-weight: 700;
}

li span {
	color: var(--btone-900);
}

li::before {
	content: "•";
	color: var(--rose-800);
	margin-right: 1em;
}

li {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	display: flex;
	gap: 0.5em;
}

li p {
	font-size: 1em;
}

.recipe-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	counter-reset: step;
}

.recipe-section h2 {
	font-weight: 400;
	color: var(--brown-800);
}

.recipe-section li {
	color: var(--btone-600);
	counter-increment: step;
}

.recipe-section:not(:last-child)::after {
	content: "";
	display: block;
	height: 1px;
	border-bottom: 1px solid var(--stone-150);
}

ol li::before {
	font-family: "Outfit", sans-serif;
	content: counter(step) ". ";
	font-weight: 700;
}

ol li span {
	color: var(--btone-600);
}

table {
	border-collapse: collapse;
}

tr > th {
	text-align: start;
}

#nutrition-table tr:not(:last-child) {
	border-bottom: 1px solid var(--stone-150);
}

#nutrition-table th,
#nutrition-table td {
	padding: 0.8em;
	padding-left: 2em;
	font-family: "Outfit", sans-serif;
	font-size: 0.8em;
	font-weight: 400;
	color: var(--btone-600);
}

#nutrition-table td span {
	color: var(--brown-800);
	font-weight: 700;
}
